<html lang="en">
  <%- include('./partials/head.ejs')%> <%- include('./partials/nav.ejs')%>
  <body>
    <div class="body-container min-vh-100">
      <section class="container">
        <h1 class="lead-2 my-5">About Us</h1>
        <h2>To put it simply</h2>
        <p class="lead">
          This entire project is to help men and really anyone to improve their
          lives. While many of the writings in this blog are focused on male
          improvement from a male prospective, many, and really most the lessons
          can easily translate to females and non-binary as well. As we are all
          quite similar in the end with the exception of our glaring
          differences.
        </p>
        <hr class="w-100" />
        <p class="lead">To explain in greater detail...</p>
        <p>
          There is a massive need in the United States and the world in general
          to teach our young people how to succeed, and more often than not the
          twelve years of schooling that students receive is missing a massive
          amount of knowledge that we as people need to succeed. With the
          current times where so may children are growing up without quality
          mentors and role models, the hope is to create a resource of knowledge
          that people can look to that will guid them in the places of their
          lives where they're uncertain.
        </p>
        <p>
          While the hope is to eventually turn a profit from this blog, the real
          goal is to teach, train and lead our younger people and especially our
          young boys to fit into a future that is often confusing to know how to
          act. While simple advice like just be nice to everyone and don't judge
          other people unless you have walked in their shoes should suffice; in
          all reality it lacks the specifics that people need to know to be
          successful in life.
        </p>
      </section>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
