<html lang="en">
  <%- include('./partials/head.ejs')%> <%- include('./partials/nav.ejs')%>
  <body>
    <div class="body-container container min-vh-100">
      <h1 class="display-4 mb-5 py-5">Blog Library</h1>
      <div class="cards-container row">
        <!-- Blogs from database paginated  -->
        <!-- Card -->
        <div class="col-lg-4 px-4" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title py-2">
              How to Lift For Great Success and Gains
            </h5>
            <h6 class="card-subtitle mb-2 text-muted pb-3">Health</h6>
            <p class="card-text pb-3">
              You to can sport a 500lb squat and 315lb bench. The real key is
              how you train. If you are focused and dedicated. There is nothing
              that can stop you
            </p>
            <a href="#" class="btn btn-outline-primary w-100 mb-5"
              >Read Blog Post</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title py-2">
              How to Lift For Great Success and Gains
            </h5>
            <h6 class="card-subtitle mb-2 text-muted pb-3">Health</h6>
            <p class="card-text pb-3">
              You to can sport a 500lb squat and 315lb bench. The real key is
              how you train. If you are focused and dedicated. There is nothing
              that can stop you
            </p>
            <a href="#" class="btn btn-outline-primary w-100 mb-5"
              >Read Blog Post</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title py-2">
              How to Lift For Great Success and Gains
            </h5>
            <h6 class="card-subtitle mb-2 text-muted pb-3">Health</h6>
            <p class="card-text pb-3">
              You to can sport a 500lb squat and 315lb bench. The real key is
              how you train. If you are focused and dedicated. There is nothing
              that can stop you
            </p>
            <a href="#" class="btn btn-outline-primary w-100 mb-5"
              >Read Blog Post</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title py-2">
              How to Lift For Great Success and Gains
            </h5>
            <h6 class="card-subtitle mb-2 text-muted pb-3">Health</h6>
            <p class="card-text pb-3">
              You to can sport a 500lb squat and 315lb bench. The real key is
              how you train. If you are focused and dedicated. There is nothing
              that can stop you
            </p>
            <a href="#" class="btn btn-outline-primary w-100 mb-5"
              >Read Blog Post</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title py-2">
              How to Lift For Great Success and Gains
            </h5>
            <h6 class="card-subtitle mb-2 text-muted pb-3">Health</h6>
            <p class="card-text pb-3">
              You to can sport a 500lb squat and 315lb bench. The real key is
              how you train. If you are focused and dedicated. There is nothing
              that can stop you
            </p>
            <a href="#" class="btn btn-outline-primary w-100 mb-5"
              >Read Blog Post</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title py-2">
              How to Lift For Great Success and Gains
            </h5>
            <h6 class="card-subtitle mb-2 text-muted pb-3">Health</h6>
            <p class="card-text pb-3">
              You to can sport a 500lb squat and 315lb bench. The real key is
              how you train. If you are focused and dedicated. There is nothing
              that can stop you
            </p>
            <a href="#" class="btn btn-outline-primary w-100 mb-5"
              >Read Blog Post</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title py-2">
              How to Lift For Great Success and Gains
            </h5>
            <h6 class="card-subtitle mb-2 text-muted pb-3">Health</h6>
            <p class="card-text pb-3">
              You to can sport a 500lb squat and 315lb bench. The real key is
              how you train. If you are focused and dedicated. There is nothing
              that can stop you
            </p>
            <a href="#" class="btn btn-outline-primary w-100 mb-5"
              >Read Blog Post</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title py-2">
              How to Lift For Great Success and Gains
            </h5>
            <h6 class="card-subtitle mb-2 text-muted pb-3">Health</h6>
            <p class="card-text pb-3">
              You to can sport a 500lb squat and 315lb bench. The real key is
              how you train. If you are focused and dedicated. There is nothing
              that can stop you
            </p>
            <a href="#" class="btn btn-outline-primary w-100 mb-5"
              >Read Blog Post</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title py-2">
              How to Lift For Great Success and Gains
            </h5>
            <h6 class="card-subtitle mb-2 text-muted pb-3">Health</h6>
            <p class="card-text pb-3">
              You to can sport a 500lb squat and 315lb bench. The real key is
              how you train. If you are focused and dedicated. There is nothing
              that can stop you
            </p>
            <a href="#" class="btn btn-outline-primary w-100 mb-5"
              >Read Blog Post</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title py-2">
              How to Lift For Great Success and Gains
            </h5>
            <h6 class="card-subtitle mb-2 text-muted pb-3">Health</h6>
            <p class="card-text pb-3">
              You to can sport a 500lb squat and 315lb bench. The real key is
              how you train. If you are focused and dedicated. There is nothing
              that can stop you
            </p>
            <a href="#" class="btn btn-outline-primary w-100 mb-5"
              >Read Blog Post</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title py-2">
              How to Lift For Great Success and Gains
            </h5>
            <h6 class="card-subtitle mb-2 text-muted pb-3">Health</h6>
            <p class="card-text pb-3">
              You to can sport a 500lb squat and 315lb bench. The real key is
              how you train. If you are focused and dedicated. There is nothing
              that can stop you
            </p>
            <a href="#" class="btn btn-outline-primary w-100 mb-5"
              >Read Blog Post</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title py-2">
              How to Lift For Great Success and Gains
            </h5>
            <h6 class="card-subtitle mb-2 text-muted pb-3">Health</h6>
            <p class="card-text pb-3">
              You to can sport a 500lb squat and 315lb bench. The real key is
              how you train. If you are focused and dedicated. There is nothing
              that can stop you
            </p>
            <a href="#" class="btn btn-outline-primary w-100 mb-5"
              >Read Blog Post</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title py-2">
              How to Lift For Great Success and Gains
            </h5>
            <h6 class="card-subtitle mb-2 text-muted pb-3">Health</h6>
            <p class="card-text pb-3">
              You to can sport a 500lb squat and 315lb bench. The real key is
              how you train. If you are focused and dedicated. There is nothing
              that can stop you
            </p>
            <a href="#" class="btn btn-outline-primary w-100 mb-5"
              >Read Blog Post</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title py-2">
              How to Lift For Great Success and Gains
            </h5>
            <h6 class="card-subtitle mb-2 text-muted pb-3">Health</h6>
            <p class="card-text pb-3">
              You to can sport a 500lb squat and 315lb bench. The real key is
              how you train. If you are focused and dedicated. There is nothing
              that can stop you
            </p>
            <a href="#" class="btn btn-outline-primary w-100 mb-5"
              >Read Blog Post</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title py-2">
              How to Lift For Great Success and Gains
            </h5>
            <h6 class="card-subtitle mb-2 text-muted pb-3">Health</h6>
            <p class="card-text pb-3">
              You to can sport a 500lb squat and 315lb bench. The real key is
              how you train. If you are focused and dedicated. There is nothing
              that can stop you
            </p>
            <a href="#" class="btn btn-outline-primary w-100 mb-5"
              >Read Blog Post</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title py-2">
              How to Lift For Great Success and Gains
            </h5>
            <h6 class="card-subtitle mb-2 text-muted pb-3">Health</h6>
            <p class="card-text pb-3">
              You to can sport a 500lb squat and 315lb bench. The real key is
              how you train. If you are focused and dedicated. There is nothing
              that can stop you
            </p>
            <a href="#" class="btn btn-outline-primary w-100 mb-5"
              >Read Blog Post</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title py-2">
              How to Lift For Great Success and Gains
            </h5>
            <h6 class="card-subtitle mb-2 text-muted pb-3">Health</h6>
            <p class="card-text pb-3">
              You to can sport a 500lb squat and 315lb bench. The real key is
              how you train. If you are focused and dedicated. There is nothing
              that can stop you
            </p>
            <a href="#" class="btn btn-outline-primary w-100 mb-5"
              >Read Blog Post</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title py-2">
              How to Lift For Great Success and Gains
            </h5>
            <h6 class="card-subtitle mb-2 text-muted pb-3">Health</h6>
            <p class="card-text pb-3">
              You to can sport a 500lb squat and 315lb bench. The real key is
              how you train. If you are focused and dedicated. There is nothing
              that can stop you
            </p>
            <a href="#" class="btn btn-outline-primary w-100 mb-5"
              >Read Blog Post</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title py-2">
              How to Lift For Great Success and Gains
            </h5>
            <h6 class="card-subtitle mb-2 text-muted pb-3">Health</h6>
            <p class="card-text pb-3">
              You to can sport a 500lb squat and 315lb bench. The real key is
              how you train. If you are focused and dedicated. There is nothing
              that can stop you
            </p>
            <a href="#" class="btn btn-outline-primary w-100 mb-5"
              >Read Blog Post</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title py-2">
              How to Lift For Great Success and Gains
            </h5>
            <h6 class="card-subtitle mb-2 text-muted pb-3">Health</h6>
            <p class="card-text pb-3">
              You to can sport a 500lb squat and 315lb bench. The real key is
              how you train. If you are focused and dedicated. There is nothing
              that can stop you
            </p>
            <a href="#" class="btn btn-outline-primary w-100 mb-5"
              >Read Blog Post</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title py-2">
              How to Lift For Great Success and Gains
            </h5>
            <h6 class="card-subtitle mb-2 text-muted pb-3">Health</h6>
            <p class="card-text pb-3">
              You to can sport a 500lb squat and 315lb bench. The real key is
              how you train. If you are focused and dedicated. There is nothing
              that can stop you
            </p>
            <a href="#" class="btn btn-outline-primary w-100 mb-5"
              >Read Blog Post</a
            >
          </div>
        </div>
        <!-- End Card -->
      </div>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
