<html lang="en">
  <%- include('./partials/head.ejs')%> <button%- include('./partials/nav.ejs')%>
  <body>
    <div class="body-container min-vh-100">
      <h1 class="text-center my-3 mb-5">Create a New Blog Post</h1>
      <form
        class="form-outline mb-4 text-center my-5"
        method="POST"
        action="/blogs"
      >
        <label
          for="title"
          class="form-label form-control border-0 bg-transparent"
          >Title</label
        >
        <input
          class="w-50 mb-5 p-2 rounded"
          type="text"
          id="title"
          name="title"
          required
        />
        <label
          for="snippet"
          class="form-label form-control border-0 bg-transparent"
          >Snippet</label
        >
        <input
          class="w-50 mb-5 p-2 rounded"
          type="text"
          id="snippet"
          name="snippet"
          required
        />
        <label
          for="body"
          class="form-label form-control border-0 bg-transparent"
          >Body</label
        >
        <textarea
          class="w-50 mb-5 p-5 rounded"
          type="text"
          id="body"
          name="body"
          required
        ></textarea>
        <button type="submit" class="rounded btn btn-primary w-50 mb-5">
          Post Blog
        </button>
      </form>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
