<%- include('./partials/head.ejs')%>

<form class="form-outline mb-4 text-center my-5">
  <label for="title" class="form-label form-control border-0">Title</label>
  <input class="w-50 mb-5 p-2" type="text" id="title" />
  <label for="snippet" class="form-label form-control border-0">Snippet</label>
  <input class="w-50 mb-5 p-2" type="text" id="snippet" />
  <label for="body" class="form-label form-control border-0">Body</label>
  <input class="w-50 mb-5 p-5" type="text" id="body" />
</form>

<%- include('./partials/footer.ejs')%>
