<%- include('./partials/head.ejs')%> <%- include('./partials/nav.ejs')%>
<div class="body-container min-vh-100">
  <h1 class="text-center my-3 mb-5">Create a New Blog Post</h1>
  <form class="form-outline mb-4 text-center my-5">
    <label for="title" class="form-label form-control border-0 bg-transparent"
      >Title</label
    >
    <input class="w-50 mb-5 p-2 rounded" type="text" id="title" name="title" />
    <label for="snippet" class="form-label form-control border-0 bg-transparent"
      >Snippet</label
    >
    <input
      class="w-50 mb-5 p-2 rounded"
      type="text"
      id="snippet"
      name="snippet"
    />
    <label for="body" class="form-label form-control border-0 bg-transparent"
      >Body</label
    >
    <input class="w-50 mb-5 p-5 rounded" type="text" id="body" name="body" />
  </form>
</div>
<%- include('./partials/footer.ejs')%>
