<html lang="en">
  <%- include('./partials/head.ejs')%> <%- include('./partials/nav.ejs')%>
  <body>
    <div class="body-container min-vh-100 border-transparent">
      <h1>shop page</h1>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
