<html lang="en">
  <%- include('./partials/head.ejs')%> <%- include('./partials/nav.ejs')%>
  <body>
    <div class="body-container container min-vh-100">
      <h1 class="display-4 mb-5 py-5">Shop Our Apparel</h1>
      <div class="cards-container row">
        <!-- Shop apparel from database paginated  -->

        <!-- Card -->
        <div class="col-lg-4 px-4 rounded" style="width: 18rem">
          <img src="/images/hoodie.jpeg" class="card-img-top" alt="product" />
          <div class="card-body">
            <h5 class="card-title py-2">Mens Hoodie</h5>
            <p class="card-text pb-3">
              Impress the ladies with our black on black pull over hoodie.
            </p>
            <a href="#" class="rounded btn btn-outline-primary w-100 mb-5"
              >Details</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4 rounded" style="width: 18rem">
          <img src="/images/hoodie.jpeg" class="card-img-top" alt="product" />
          <div class="card-body">
            <h5 class="card-title py-2">Mens Hoodie</h5>
            <p class="card-text pb-3">
              Impress the ladies with our black on black pull over hoodie.
            </p>
            <a href="#" class="rounded btn btn-outline-primary w-100 mb-5"
              >Details</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4 rounded" style="width: 18rem">
          <img src="/images/hoodie.jpeg" class="card-img-top" alt="product" />
          <div class="card-body">
            <h5 class="card-title py-2">Mens Hoodie</h5>
            <p class="card-text pb-3">
              Impress the ladies with our black on black pull over hoodie.
            </p>
            <a href="#" class="rounded btn btn-outline-primary w-100 mb-5"
              >Details</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4 rounded" style="width: 18rem">
          <img src="/images/hoodie.jpeg" class="card-img-top" alt="product" />
          <div class="card-body">
            <h5 class="card-title py-2">Mens Hoodie</h5>
            <p class="card-text pb-3">
              Impress the ladies with our black on black pull over hoodie.
            </p>
            <a href="#" class="rounded btn btn-outline-primary w-100 mb-5"
              >Details</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4 rounded" style="width: 18rem">
          <img src="/images/hoodie.jpeg" class="card-img-top" alt="product" />
          <div class="card-body">
            <h5 class="card-title py-2">Mens Hoodie</h5>
            <p class="card-text pb-3">
              Impress the ladies with our black on black pull over hoodie.
            </p>
            <a href="#" class="rounded btn btn-outline-primary w-100 mb-5"
              >Details</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4 rounded" style="width: 18rem">
          <img src="/images/hoodie.jpeg" class="card-img-top" alt="product" />
          <div class="card-body">
            <h5 class="card-title py-2">Mens Hoodie</h5>
            <p class="card-text pb-3">
              Impress the ladies with our black on black pull over hoodie.
            </p>
            <a href="#" class="rounded btn btn-outline-primary w-100 mb-5"
              >Details</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4 rounded" style="width: 18rem">
          <img src="/images/hoodie.jpeg" class="card-img-top" alt="product" />
          <div class="card-body">
            <h5 class="card-title py-2">Mens Hoodie</h5>
            <p class="card-text pb-3">
              Impress the ladies with our black on black pull over hoodie.
            </p>
            <a href="#" class="rounded btn btn-outline-primary w-100 mb-5"
              >Details</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4 rounded" style="width: 18rem">
          <img src="/images/hoodie.jpeg" class="card-img-top" alt="product" />
          <div class="card-body">
            <h5 class="card-title py-2">Mens Hoodie</h5>
            <p class="card-text pb-3">
              Impress the ladies with our black on black pull over hoodie.
            </p>
            <a href="#" class="rounded btn btn-outline-primary w-100 mb-5"
              >Details</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4 rounded" style="width: 18rem">
          <img src="/images/hoodie.jpeg" class="card-img-top" alt="product" />
          <div class="card-body">
            <h5 class="card-title py-2">Mens Hoodie</h5>
            <p class="card-text pb-3">
              Impress the ladies with our black on black pull over hoodie.
            </p>
            <a href="#" class="rounded btn btn-outline-primary w-100 mb-5"
              >Details</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4 rounded" style="width: 18rem">
          <img src="/images/hoodie.jpeg" class="card-img-top" alt="product" />
          <div class="card-body">
            <h5 class="card-title py-2">Mens Hoodie</h5>
            <p class="card-text pb-3">
              Impress the ladies with our black on black pull over hoodie.
            </p>
            <a href="#" class="rounded btn btn-outline-primary w-100 mb-5"
              >Details</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4 rounded" style="width: 18rem">
          <img src="/images/hoodie.jpeg" class="card-img-top" alt="product" />
          <div class="card-body">
            <h5 class="card-title py-2">Mens Hoodie</h5>
            <p class="card-text pb-3">
              Impress the ladies with our black on black pull over hoodie.
            </p>
            <a href="#" class="rounded btn btn-outline-primary w-100 mb-5"
              >Details</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4 rounded" style="width: 18rem">
          <img src="/images/hoodie.jpeg" class="card-img-top" alt="product" />
          <div class="card-body">
            <h5 class="card-title py-2">Mens Hoodie</h5>
            <p class="card-text pb-3">
              Impress the ladies with our black on black pull over hoodie.
            </p>
            <a href="#" class="rounded btn btn-outline-primary w-100 mb-5"
              >Details</a
            >
          </div>
        </div>
        <!-- End Card --><!-- Card -->
        <div class="col-lg-4 px-4 rounded" style="width: 18rem">
          <img src="/images/hoodie.jpeg" class="card-img-top" alt="product" />
          <div class="card-body">
            <h5 class="card-title py-2">Mens Hoodie</h5>
            <p class="card-text pb-3">
              Impress the ladies with our black on black pull over hoodie.
            </p>
            <a href="#" class="rounded btn btn-outline-primary w-100 mb-5"
              >Details</a
            >
          </div>
        </div>
        <!-- End Card -->
      </div>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
